%nav.navbar.navbar-light.bg-faded
  .container
    #navbar-header
      = link_to root_path, class: 'navbar-brand' do
        %span.fa.fa-home
        Your Quizzes
    .collapse.navbar-collapse.navbar-toggleable-xs
      %ul.nav.navbar-nav
        %li.nav-item
          = link_to quizzes_path, class: 'nav-link'  do
            Quizzes
-#           %li.nav-item
-#             %a.nav-link{:href => "#"}
-#               About
    = render '/layouts/login'
