#new_question
#question_list
  .question-list
    %ul.list-group
      - questions.each do |question|
        = render partial: 'client/quiz_group/questions/question_item', locals: {question: question}
