%h3 
  My Quizzes
=link_to 'Add New Quiz', new_client_quiz_path, class: 'btn btn-primary'
.quiz-list
  %ul.list-group
    - @quizzes.each do |quiz|
      = render partial:'quiz_item', locals:{quiz: quiz}
