%h3
  Edit Quiz
#quiz_form
  =render partial:'form'
#questions
  %h4 Questions
  =link_to 'Add Questions', new_client_quiz_question_path(@quiz), remote: :true, class: "btn btn-primary"
  #question_form
  #question_list
    =render partial:'client/questions/question_list', locals: { questions: @quiz.questions }
