%h3 
  My Quizzes
=link_to 'Add New Quiz', new_client_quiz_path, class: 'btn btn-primary'
.quiz-list
  %ul.list-group
    - @quizzes.each do |quiz|
      %li.list-group-item.list-group-item-action
        .row
          .col-md-2
            = image_tag("/assets/images/" + quiz.main_image.path, class: "img-fluid img-thumbnail") if quiz.main_image
          .col-md-4
            = quiz.title
          .col-md-4
            No Questions:
            = quiz.questions.count
          .col-md-2
            = link_to 'Edit', edit_client_quiz_path(quiz)
