

form{
  width:100%;
}

.links-block>a{

  display:block;
}

.img-thumbnail{
  max-height: 150px; 
}



.nav-link.active{
  background-color: $dropdown-link-hover-bg;

}

.img-ref{
  font-size: 10px;  
  color: #BDBDBD;
  a{
    color: #8181F7;
  }
}

.heading-bk{
  background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 3px,
      #465298 3px,
      #465298 6px
    );
  color: white;
  font-weight: bold;
}

