.img-thumbnail{
  max-height: 150px;
}

.hidden{
  display: none;
}
.img-ref{
  font-size: 10px;
  color: #BDBDBD;
  a{
    color: #8181F7;
  }
}

.heading-bk{
  background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 3px,
      #465298 3px,
      #465298 6px
    );
  color: white;
  font-weight: bold;
}


.quiz-list{
  .card-header{
    
  }
  
  h3{
    margin-bottom: 5px;
    margin-top:5px;
  }
  .card-text{
    color: #465298;
    font-weight: bold;
  }
}

.quiz-container{
  .question-container{
    padding:0px;
  }

  .quiz-answers {
    .answer-box{
      text-align: justify;
    }

    p{
      font-weight: bold;
    }
    margin-top: 10px;
    .fa {
      @extend .fa-minus !optional;
      margin-right: 10px;
    }
    li:hover {
      background-color: $dropdown-link-hover-bg;
      .fa{
        color: green;
        @extend .fa-check !optional;
      }
    }
  }
}
