%nav.navbar.navbar-light.bg-faded.navbar-toggleable-sm
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    = link_to root_path, class: 'navbar-brand' do
      %span.logo
    = link_to root_path, class: 'navbar-brand' do
      Quiz Mistress
    #navCollapse.collapse.navbar-collapse
      = render :partial => 'layouts/navmenu'
      = render :partial => 'layouts/login'
