-# - content_for :head do
-#   = stylesheet_link_tag 'admin/application', 'data-turbolinks-track' => true
-# - content_for :script do
- content_for :content do
  .container-fluid
    .row
      .col-xs-3.col-md-2
        %nav
          %ul.nav.flex-column.nav-sidebar
            %li.nav-item
              =active_link_to 'My Profile', edit_users_path, class:"nav-link"
            %li.nav-item
              =active_link_to 'Change Password', edit_user_registration_path, class:"nav-link "
      .col-xs-9.col-md-10
        = render '/layouts/notice'
        = yield
= render :template => 'layouts/application'
