-# - content_for :head do
-#   = stylesheet_link_tag 'admin/application', 'data-turbolinks-track' => true
-# - content_for :script do
- content_for :content do
  .container-fluid
    .row
      .col-xs-3.col-md-2
        %nav
          %ul.nav.nav-sidebar
            %li
              =link_to 'My Details', edit_user_registration_path
      .col-xs-9.col-md-10
        = render '/layouts/notice'
        = yield
= render :template => 'layouts/application'
